.text_block {
	max-width: 45rem;
	margin: 2rem auto;

	@include desktop {
		margin: 4rem auto;
		width: 50%;
	}
	
	p {
	}
}
.gallery {
	margin-bottom: 1rem;
	background-color: inherit;
	// max-width: 60rem;
	margin: 0 auto;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	// overflow: hidden;
	position: relative;
	margin: 1rem 0;

	@include desktop {
		margin: 3rem 0;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 100%;
		background-color: inherit;
		width: 0.25rem;
		top:0; bottom: 0;
		z-index: 999;
	}

	&:last-child:after {
		display: none;
	}

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}
.gallery-caption {
	display: block;
}
.image-container {
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	@include opacity(0);
	@include transition(1s opacity);
	overflow: hidden;
	// position:relative;
	z-index: -1;

	img.proportion-image {
		width: 100%;
	}
}
.image-container.isLoaded {
	@include opacity(1);
}