html {
	box-sizing: border-box;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;

	@include transition(0.5s background-color ease-in, 1s background-image ease);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  padding: 11rem 2rem 2rem 2rem;
  
	@include med-desktop {
	  padding: 12rem 2rem 2rem 3.5rem;
	};
}
.external-link {
	stroke: inherit;
	stroke-width: 20;
	height: 0.7rem;
	width: 0.7rem;
	@include opacity(0.7);
}
.entry-header {
	.entry-header-container {
		height: 80%;
		top: 20%;
		.entry-title-container {
			position: absolute;
			display: inline-block;
			left:0; bottom: 1rem;
			// text-align: center;
			color: white;

			.entry-title {
				font-size: 2rem;
			}
			.entry-subtitle {
				font-size: 1.5rem;

				&:after {
					// content: "^";
					// display: inline-block;
					// text-align: left;
					// position: relative;
					// font-style: normal;
					// font-size: 3rem;
					// line-height: 1rem;
					// margin-left: 1rem;
					// margin-bottom: 2rem;
					// font-weight: 100;

					// @include rotate(180);
				}
			}
		}
	}
}
.entry-content {
	display: block;

	.entry-information {
		margin: 0.5rem 0 2rem;

		@include desktop {
			.entry-information {
				margin: 4rem 0;
			}
		}
		
		aside {
			display: block;
			position: relative;
			font-family: $font__secondary;
			
			@include med-desktop {
				width: 20%;
				display: inline-block;
			}
		}
		.entry-description {
			display: block;
			max-width: none;
			width: 100%;
			position: relative;
			vertical-align: top;
			margin: 0;
			padding: 0;
			margin-bottom: 2rem;
		
			@include med-desktop {
				width:75%;
				max-width: 45rem;
				display: inline-block;
				margin-bottom: 0;
				margin-right: 5%;
				padding-left: 1rem;
			}
		}
	}
}


blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 0.75rem;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";