html {
	box-sizing: border-box;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;

	@include transition(0.5s background-color ease-in, 1s background-image ease);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	padding: 10rem 2rem 2rem 2rem;
}

.site-header {
	position: absolute;
	top: 3rem; right: 3rem; left: 3rem;
	z-index: 999;
	// width: 100%;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";