html {
	height: 100%;
	min-height: 100%;

	body.home {
		display: block;
		min-height: 100%;
		width: 100%;
		// @include transition(2s opacity);

		&:hover {
			fill: inherit;
			color: inherit;
		}
		.site-title {
			display: inline-block;
			@include opacity(0.5);
			z-index: 999;
			
		}
		main {
			.preview {
				position: fixed;
				background-repeat: no-repeat;
				right: 0; bottom: 0; top: 0; left: 0;
				height: 100%;
				width: 100%;
				z-index: 0;
				@include opacity(0);
				@include transition(1s opacity);

				.loader-image {
					display: none;
				}
			}
			.preview.isLoaded {
				@include opacity(1);
			}

			ul.projects {
				list-style-type: none;
				margin: 0 0 0 1.65rem;
				padding-left: 0;
				z-index: 999;
				position: relative;

				li.project {
					margin: 0;
					display: inline-block;
					padding-bottom: 2rem;
					float:left;
					clear: both;
					color: inherit;
					position: relative;
					@include opacity(0.5);
					@include transition(1s 0.5s opacity, 1s color, 0.5s padding-left);
					
					a.project-link {
						overflow: hidden;
						display: block;
						-moz-transition: none;
				    -webkit-transition: none;
				    -o-transition: color 0 ease-in;
				    transition: none;
					}
					&:before {
						content: "";
						display: inline-block;
						width: 1px;
						height: 0;
						background-color: transparent;
						position: absolute;
						left: 0; top: 0;
						@include transition(0.75s background-color, 0.35s height);
					}
						
					h2, h3  {
						margin: 0;
						padding: 0;
					}

					&:hover {
						padding-left: 1rem;
						color: inherit;
						text-shadow: 	1px 1px 1px #222, 
	               					2 px 3px 5px rgba(0,0,0,0.35); 
						@include opacity(1);
						@include transition(1s opacity, 1s color, 0.5s padding-left);

						&:before {
							height: 3.1rem;
							background-color: rgba(255,255,255,0.5);
							bottom: 0; top: 0;
						}
					}	
				}
			}
		}
	}
}