h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
}
h1.site-title .logo {
	fill: inherit;
	height: 5rem;
	width: 5rem;
  @include transition(1s fill, 1s color);
}
h2 {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.25;
}
h3 {
  font-size: 0.955rem;
  font-weight: 100;
  font-style: italic;
  line-height: 1.45;
}
h4 {
  font-family: $font__main;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 1rem;
  font-weight: 100;
  // font-style: italic;
  line-height: 1.45;
}