h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
}
h1.site-title .logo {
	fill: inherit;
	height: 5rem;
	width: 5rem;
}
h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
}
h3 {
  font-size: 1.15rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.25;
}