a {
	color: $color__link;
	text-decoration: none;
	border-bottom: 2px solid inherit;
	padding-bottom: 0.15rem;
  @include transition(1s fill, 1s color);

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: white;
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}