.main-navigation {
	display: inline-block;
	height: auto;
	width: auto;
	overflow: hidden;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		ul {
			z-index: 99999;

			ul {
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				@include transition(0.25s color ease);
			}

			:hover > a,
			.focus > a {
				@include transition(1s color ease);
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		font-weight: 600;
		list-style-type: none;
		display: inline-block;
		position: relative;
		margin: 0 0.85rem;
		@include antialias();

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
