nav {
	font-family: $font__secondary;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	overflow: hidden;
}
	.top-right {
		display: block;
		position: absolute;
		right: 0;
		top: 0;

	.main-navigation {
		display: inline-block;
		height: auto;
		width: auto;
		overflow: hidden;
		opacity: 1;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			ul {
				z-index: 99999;

				ul {
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					@include transition(0.25s color ease);
				}

				:hover > a,
				.focus > a {
					@include transition(1s color ease);
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
		li {
			list-style-type: none;
			display: inline-block;
			position: relative;
			margin: 0 0.85rem;

			&:hover > a,
			&.focus > a {
			}
		}
		a {
			display: block;
			text-decoration: none;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
		}
	}

	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
	}

	// @media screen and (min-width: 37.5em) {
	// 	.menu-toggle {
	// 		display: none;
	// 	}
	// 	.main-navigation ul {
	// 		display: block;
	// 	}
	// }
}
.comment-navigation,
.posts-navigation,
.post-navigation,
.pages-navigation {
	margin: 1rem 0;
	padding: 0.5rem 0 0;
	position: relative;

	&:before {
		content: '';
		display: block;
		z-index: 1;
		position: absolute;
		left:0; right: 0; top: 0;
		height: 1px;
		width: 100%;
		border-top: 1px solid white;
		border-color: inherit;

		@include opacity(0.5);
	}

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
	a {
		@include transition(0.25s color ease);
	}

	:hover > a,
	.focus > a {
		@include transition(1s color ease);
	}
}
	.social-media {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		padding: 0;

		.social-media-item {
			display: inline-block;
			margin: 0;
			padding: 0 0.15rem;
			float: none;

			.social-media-link {
				svg {
					display: inline-block;
					height: 1.25rem;
					width: 1.25rem;
					fill: inherit;
					text-align: baseline;
					@include transition(1s opacity);
				}

				&:hover {
					svg {
						@include opacity(0.5);
						@include transition(0.2s opacity);
					}
				}
			}
		}
	}
