.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.entry-details {
	font-weight: 500;
	font-size: 0.65rem;
	text-transform: uppercase;
	letter-spacing: 1px;

	a {
		svg {
			@include transition(stroke 1s);
		}
		&:hover {
			svg {
			stroke: white;

			}
		}
	}
	.website-link {
		display: block;
		position: relative;

		svg {
			@include transition(stroke 1s);
		}

		&:hover {
			stroke: white;
			border-color: inherit; 
		}
	}

	.credits-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		width: 100%;

		.credits-list-item {

			h4 {
				display: inline-block;
				text-align: left;
				text-transform: none;
				letter-spacing: 0;
				margin-top: 0.5rem;
			}

			.col_right {
				display: block;
				text-align: baseline;
			}
		}
	}
}