.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
body.page-child {
	padding: 2rem;

	.entry-header {
		position: relative;
		height: 92vh;
		width: 100%;
		display: block;

		.entry-title-container {
			position: absolute;
			left: 1rem;
			bottom: 1rem;
		}

		.entry-header-container {
			height: 100%;
			background-color: rgba(0,0,0,0.1);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}