.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Projects
body.page-child,
.page-template-default {
	padding: 1rem;

  @include med-desktop { 
	  padding: 2rem;
	}
}
.entry-header {
	position: relative;
	height: 45vh;
	width: 100%;
	display: block;
	overflow: hidden;
	background-color: rgba(0,0,0,0.1);

	@include med-desktop { 
		height: 92vh;
	}
	
	.entry-header-container {
		height: 95%;
		margin-top: 5%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

		.entry-title-container {
			position: absolute;
			left: 1rem;
			bottom: 1rem;

			.entry-title,
			.entry-subtitle {
				font-size: 1.25rem;
				text-shadow: 	0px 1px 1px rgba(0,0,0,0.8), 
											2px 2px 5px rgba(0,0,0,0.5);

				@include med-desktop { 
					font-size: auto;
				}
			}
		}
	}
}
.page-template-default {
	.entry-header {
		.entry-header-container {
			height: 100%;
			margin-top: 0!important;
		}
	}
}
